:root {
    font-size: 16px;
    color: rgb(53, 53, 53) !important;
}

html, body {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    height: 100hv;
}
